{
    "Splitwise Name 1": ["Wolt Name 1", "Alternative Wolt Name 1"],
    "Splitwise Name 2": ["Wolt Name 2", "Alternative Wolt Name 2"],
    "John Doe": ["John undefined", "john undefined"],
    "Jane Smith": ["Jane undefined", "J undefined"]
}
